*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
  }
  
  
 
  
    .section-1 {
      min-height: 110vh;
      margin-top: 0px;
      margin-bottom: 0px;
      display: flex;
      flex-direction:row;
      background-image: url(images/wedding7.jpg);
      background-size: cover; 
      
    }
   
    .form-create{
       width: 80%;
       margin-top: 4.5rem;
       margin-left: 4rem; 
        
    }
	
	::placeholder {
   color: rgb(0, 0, 255);
   opacity: 1; /* Firefox */
   font-weight: bold;
    }

   ::-ms-input-placeholder { /* Edge 12-18 */
  color: rgb(0, 0, 255);
  font-weight: bold;}
    
  fieldset{
    padding:10px;
    margin-right: 15px;
    margin-top: 10px;
    border-color: #000000;
  }

  .cform {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background:rgba(253, 252, 252, 0.7);;
    box-shadow: 0 0 20px 0 #010101;
    margin-left: 5rem;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #080808;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    }

    .bottompart{
        display: flex;
        flex-direction: row;
    }
    .leftpart{
        width: 50%;
        padding: 5px;
    }
    .rightpart{
        width: 50%;
        padding: 5px;
    }
   .banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5); 
    position: absolute;
    width: 100%;
    height: 100%;
    }
   .item  input, textarea, select {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }
    .item input {
    width: calc(100% - 10px);
    padding: 5px;
    color: #040404;
    box-shadow: 0 0 3px 0 #020202;
    font-size: medium;
    }
    select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
    }
    textarea {
    width: calc(100% - 12px);
    padding: 5px;
    border: 1px solid transparent;
    box-shadow: 0 0 3px 0 #020202;
    color: #020202;
    font-size: larger;
    }
    p{
        color: #000000;
        font-size: medium;
    }
    .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
    color: #040404;
    }
    /*.item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #020202;
    color: #020202;
    }*/
    .item {
    position: relative;
    margin: 10px 10px;
    }
    
    
    .btn-block {
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    }
    #submitbtn {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background: #060606;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    
    }
    #submitbtn:hover{
        background-color: darkgray;
        color: white;
    }
    

    .item label{
        font-size: normal;
        font-weight: bolder;
    }
    fieldset div label{
        font-size: normal;
        font-weight: bolder;
    }
    .cform a{
      font-style: none;
      color: black;
    }
    .cform h1{
      align-self: center;
      color: #000000;
      font-size: xx-large;
    }
    .cform select{
      border-color: #000000;
      color: #000000;
    }
    h3{
        color: #000000; 
    }

    @media (min-width: 568px) {
    .name-item, .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .name-item input, .city-item input {
    width: calc(50% - 20px);
    }
    .city-item select {
    width: calc(50% - 8px);
    }
    }